<!-- templates/base.html -->
<!DOCTYPE html> 
<html lang="ru">          
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">
    <script src="https://kit.fontawesome.com/a3b4d66411.js" crossorigin="anonymous"></script>
    {% block load_scripts%}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <style>
      .brd {
          border: 1px solid red;
      }
      .scroll {
          height:400px;
          overflow-y: scroll;
        }
      .select {
          height: 250px;
      }
  </style>
  </head>
  <body>
    {% csrf_token %}
    <div id="panel" class="container text-left">
      
      <header>
        <div class="row">
          <div class="col">
            {% include 'includes/nav.html' %}
          </div>
        </div>
      </header>
      <main>
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </main>
      
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        {% include 'includes/footer.html' %} 
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html> 
