{% extends 'includes/base.html' %}
{% block content %}
<style>
    .brd {
        border: 1px solid black;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col text-center brd">
            bread / crubms / home
        </div>
    </div>
    <div class="row">
        <div class="col-1 brd">
            21
        </div>
        <div class="col-5 brd">
            22
        </div>
        <div class="col-1 brd">
            23
        </div>
        <div class="col-5 brd">
            24
        </div>
    </div>
    <div class="row">
        <div class="col text-center brd">
            bottom
        </div>
    </div>
</div>
{% endblock%}
