<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/"><span style="color:red">C</span>onstructor Kit</a>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}">
                    <b>
                        <span style="color:red">
                            {{ user.username.0|upper }}
                        </span>
                        <span style="color:rgb(0, 0, 0)">
                            {{ user.username|slice:"1:" }}
                        </span>.
                    </b>
                </a>
                {% if user.is_staff %}
                <a href='/admin/'>#</a>
                <a href="{% url 'fish' %}"><i class="fa fa-fish"></i></a>
                {% endif %}
                <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
                <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>

            {% else %}
                <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
                <a class="p-2 text-dark" href="{% url 'users:signup' %}">Регистрация</a>
            {% endif %}
        </nav>
</nav>
