{% extends "includes/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></div>{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

<p>{% translate "Thanks for spending some quality time with the web site today." %}</p>

<p><a href="{% url 'login' %}">{% translate 'Log in again' %}</a></p>

{% endblock %}
