
<div  style="margin:5px;">
    {% include 'calc_materials/widgets/select_group.html' %}
</div>

<div class="card" style="margin:5px;">
    {% include 'calc_materials/widgets/select_list.html' with list=list_add %}
</div>

<div id="response"></div>

<script>
    function goto () {
     window.location = "{% url 'projects:project_materials' pk %}";
    }
    $(function () {
        $('#list').on('dblclick', function(event) {
            var id = $('#list :selected')[0].value;
            //console.debug();
            addItemToTree(id)
        })
    })
</script>
