<div class="input-group form-group-sm">
        <span class="input-sm input-group-text"> {{ node.parent.element.material.name }}</span>
        <input type="text" class="input-sm form-control" value="{{ node.element.material.name }}">
        <input type="number" id="id_qty" class="input-sm form-control" value="{{ node.qty|stringformat:"0.1f" }}">
</div>
