<select id="selector" class="form-select form-sm" aria-label="Default select example" onchange="selectMaterials()">
    <option selected value="0">---</option>
    {% for group in groups %}
    <option value="{{group.pk}}"> {{ group.name }}</option>
    {% endfor %}
</select>

<script>
    function selectMaterials() {
        console.debug('selected: ' + $('#selector').val());
    }
</script>
