<select id="list" size="10" class="form-select scroll" aria-label="...">
    {% for element in list %}
    <option {% if element.is_disabled%}disabled{% endif %} value="{{ element.value }}">{{ element.name }}</option>{% endfor %}
</select>



