{% if action_url %}
<a class="btn btn-primary" href="{{ action_url }}">
    {% if not action_name %}
    action
    {% else %}
    {{ action_name }}
    {% endif %}
    </a>
{% endif %}
<a class="btn btn-primary" href="{{ back_url }}">Назад</a>
