
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="поиск..." aria-label="Поиск материала" aria-describedby="button-addon2" id="search-input">
    <input type="submit" class="btn btn-outline-secondary" id="button-addon2" value="Поиск">
</div>

<div id="replaceable-content">
{% if table %}
    {% include 'includes/widgets/table.html' %}
{% endif %}
</div>


<script>
  const user_input = $('#search-input')
  const search_icon = $('#search-icon')
  const material_div = $('#replaceable-content')

  const delay_by_in_ms = 10
  let scheduled_function = false
  
  let ajax_call = function (endpoint, request_parameters) {
      $.getJSON(endpoint, request_parameters)
      .done(response => {
          material_div.fadeTo('fast', 0).promise().then(() => {
              material_div.html(response['html_from_view'])
              material_div.fadeTo('fast', 1)
              search_icon.removeClass('blink')
          })
      })
  }
  user_input.on('keyup', function () {
      const request_parameters = {
          q: $(this).val() // value of user input /q?
      }
      if (scheduled_function) {
          clearTimeout(scheduled_function)
      }
      scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
  })
</script>
