
<table class="table table-hover table-sm">
        <thead>
            <tr>
                {% if table.counter %}
                <th class="text-center">#</th>
                {% endif %}
                {% if table.heads %}
                    {% for head in table.heads %}
                        {% if head != '#action' %}
                        <th>{{ head}}</th>
                        {% else %}
                        <th  class="text-center">{% include 'includes/action/edit.html' %} </th>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for line in table.lines %}
            <tr  class="clickable-row" data-href="{{ line.link }}">
                {% if table.counter %}
                <td class="text-center">{{ forloop.counter }}</td>
                {% endif %}
                {% for element in line.data %}
                <td>{{ element|default_if_none:"---" }}</td>
                {% empty %}
                    skipped line.data
                {% endfor %}
                {% if '#action' in table.heads %}
                <td class="text-center">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">

                    {% if line.delete_link %}
                    <a class="btn btn-secondary" href="{{ line.delete_link }}">{% include 'includes/action/remove.html' %}</a>
                    {% endif %}
                    {% if line.edit_link %}
                    <a class="btn btn-secondary" href="{{ line.edit_link }}">{% include 'includes/action/edit.html' %}</a>
                    {% endif %}
                    </div>
                </td>
                {% endif %}
            </tr>

                {% empty %}
                <tr>
                    <td>no lines data<br></td>
                </tr>
                {% endfor %}
        </tbody>
</table>
<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>

