{% extends 'includes/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
                <a href={% url 'index' %}><i class="fa-solid fa-house"></i></a> / <i class="fa-solid fa-map-location-dot"></i> Города
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'includes/widgets/table.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">    
                {% if user.is_staff %}
                <a class="btn btn-primary" href="{% url 'geo:new' %}">Создать</a>
                {% endif %}
                <a class="btn btn-primary" href="..">Назад</a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
