{% extends 'includes/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
                <a href={% url 'index' %}><i class="fa-solid fa-house"></i></a> / Единицы измерения
    </div>
    <div class="row">
        {% include 'includes/widgets/table.html' %}
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group"> 
            {% if user.is_staff %}
                <a class="btn btn-primary" href="{% url 'units:new' %}">Создать</a>
            {% endif %}
                <a class="btn btn-primary" href="..">Назад</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
