{% extends 'includes/base.html' %}
{% block content %}
<p>{{ project.name }}</p>
<p>{% if update %} Редактировать{% else %}Добавить{% endif %} элемент</p>
<form method="post">
    {% csrf_token %}
    {{ form_create_material.as_p }}
    {{ form_add_material.as_p }}
    <input type="submit" class="btn btn-primary" value="{% if update %} Сохранить {% else %}Добавить{% endif %}">
    <a class="btn btn-primary" href="{% url 'projects:project_materials' project.id %}">Назад</a>
  </form> 
{% endblock %}
