{% extends 'includes/base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Создать">
    <a class="btn btn-primary" href="{{ back_url }}">Назад</a>
 </form> 
{% endblock %}
