{% extends 'includes/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href={% url 'index' %}><i class="fa-solid fa-house"></i></a> / <a href={% url 'projects:list' %}> Проекты </a> / {{ title }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <tbody>
                    {% for calculator in calculators %}
                    {% if calculator.link == '' %}
                    <tr  class="clickable-row" data-href="">
                        <td><span class="link-secondary">{{ calculator.name }}</span></td>
                        {% else %}
                    <tr  class="clickable-row" data-href="{% url calculator.link pk %}">
                        <td>{{ calculator.name }}</td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
