{% extends 'includes/base.html' %}
{% block content %}
<script>
    const endpoint = '/projects/{{ pk }}/materials/'
</script>

<div class="container">
    <div class="row">
        <div class="col">
                <a href={% url 'index' %}><i class="fa-solid fa-house"></i></a> / <a href={% url 'projects:list' %}> Проекты </a> / <a href={% url 'projects:detail' pk %}>{{ title }}</a> / Материалы
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'includes/widgets/search_panel.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                {% include 'includes/widgets/action_back_buttons.html' %}
                <a class="btn btn-info" href="#">Создать</a>
                <button class="btn btn-success" href="#" onclick="window.location='{% url 'calc_materials:list' pk %}'"><i class="fa-solid fa-tree"></i>&nbspПодсчет материалов</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
