{% extends 'includes/base.html' %}

{% block title %}
Обзор материалов
{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            
        </div>

        <div class="col">
            <div class="container">
                <div class="row">
                    <div clas="col">

                        <select id="selector" class="form-select form-sm" aria-label="Default select example" onchange="report()">
                            <option selected value="0">---</option>
                            {% for group in groups %}
                            <option value="{{group.pk}}"> {{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    &nbsp
                </div>
                <div class="row">                    
                    <div id="material-list" class="col" size="10">    
                        {% include 'materials/widgets/material_list.html' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            
        </div>
    </div>

</div>

<script>
    function report () {
        const choice = $('#selector').val();
        const materials_div = $('#material-list')

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '?gid=' + choice);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('x-requested-with', 'XMLHttpRequest');
        xhr.timeout = 20000;
        xhr.send();        
            
            
        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;
            
            if (this.status != 200) {
                alert( 'ошибка: ' + (this.status ? this.statusText : 'запрос не удался') );
                return;
            }else{
                materials_div.html(xhr.responseText);
            }
        };
        xhr.ontimeout = function() {
            alert( 'Извините, запрос превысил максимальное время' );
        }
    }
</script>  
{% endblock %}
