{% extends 'includes/base.html' %}
{% block content %}

<form method="post" action="{% url 'materials:new' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Создать">
    <a class="btn btn-primary" href="..">Назад</a>
  </form>

{% endblock %}
