{% extends 'includes/base.html' %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>Удалить "{{ object }}"?</p>
    {{ form }}
    <input type="submit" class="btn btn-danger" value="Удалить">
    <a class="btn btn-primary" href="{{ back_url }}">Назад</a>
</form>  
{% endblock %}
