{% extends 'includes/base.html' %}
{% block content %}
<script>
    const endpoint = '/materials/'
</script>
<div class"container">
    <div class="row">
        <div class="col">
                <a href={% url 'index' %}><i class="fa-solid fa-house"></i></a> / Материалы
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'includes/widgets/search_panel.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'materials:new' %}">Создать</a>
                {% else %}
                <button role="button" class="btn btn-secondary"  data-toggle="tooltip" data-placement="bottom" title="Нужно залогиниться">Создать</button>
                {% endif %}
                <a class="btn btn-primary" href="..">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
