{% extends 'includes/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <i class="fa-solid fa-house"></i> C.kit
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                            {% for link in links %}
                            <tr class="clickable-row"  data-href="{% url link.link %}">
                                <td>{{ link.name }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
