{% extends "includes/base.html" %}
{% block title %}{{ tree.0.element.project.name }}{% endblock %}
{% block header %}{{ tree.0.element.project.name }}{% endblock %}

{% block load_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="/static/jstree.js"></script>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <a href={% url 'index' %}><i class="fa-solid fa-house"></i></a> / <a href={% url 'projects:list' %}> Проекты </a> / <a href={% url 'projects:detail' pk %}>{{ title }}</a> / Дерево проекта
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% include 'calc_materials/widgets/add_selector.html' %}
        </div>
        <div class="col-6">
            <div id="node_info" style="margin:5px;">
                {% include 'calc_materials/widgets/edit_node.html' %}
            </div>
            <div style="margin:5px;">
                <button id="addButton" class="btn btn-secondary btn-sm"><i class="fa-solid fa-circle-plus"></i></button>
                <button id="editMaterialsButton" class="btn btn-success btn-sm" onclick="goto()"><i class="fa-solid fa-folder-open"></i>&nbspmat</button>
                <button id="deleteButton" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                <button id="save_qty" class="btn btn-outline-secondary btn-sm"><i class="fa fa-save"></i></button>
                <button id="import_txt" class="btn btn-outline-secondary btn-sm"><i class="fa fa-file-import"></i></button>
                <button id="export_txt" class="btn btn-outline-secondary btn-sm"><i class="fa fa-file-export"></i></button>
            </div>
            <div class="card" style="margin:5px;">
                <div id="jstree">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" id='calc_table'></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'includes/widgets/action_back_buttons.html' %}
        </div>
    </div>
</div>

<script>
    function refreshTree () { $.get("g/", function(data) {
        var inst = $('#jstree').jstree(true);
        inst.settings.core.data = JSON.parse(data);
        inst.refresh();    
        })
    }

    function loadPageData() {
        refreshTree();
        $("#calc_table").load("");
    }
    
    $(function() {
        /* main */
        loadPageData();
        
        $("#refresh").on("click", refreshTree)
        {% if active_node %}
        $("#jstree").jstree("select_node", "{{ active_node }}");
        {% endif %}
        $("#id_qty").on("keypress", function (event) {
            if(event.key == 'Enter') saveQty()
        })
    })
</script>
{% endblock %}



